# Ignore everything
*

# Allow directories to be traversed
!*/

# Allow specific file types and root files
!*.py
!*.md
!*.png

!LICENSE
!pyproject.toml
!.github/workflows/lint.yml
!.github/workflows/tests.yml