# Ignore everything
*

# Allow directories to be traversed
!*/

# Allow specific file types and root files
!*.py

# Allow GitHub files
!/.github/ISSUE_TEMPLATE/*
!/.github/workflows/lint.yml
!/.github/workflows/tests.yml

# Allow root files
!/assets/*
!/CONTRIBUTING.md
!/LICENSE
!/pyproject.toml
!/README.md