# Ignore everything
*

# Allow directories to be traversed
!*/

# Allow specific file types and root files
!*.py

# Allow GitHub files
!/.github/**

# Allow root files
!/assets/**
!/CONTRIBUTING.md
!/LICENSE
!/pyproject.toml
!/README.md